.section{
    text-align: center;
    color: #8ECAE6;
    font-size: 40px;
    top: 50%;
    background-color: #219ebc;
    align-items: center;
    user-select: none;
    border: solid 4px #219ebc;
}

.section:hover{
    color: #219ebc;
    background-color: #8ECAE6;
    border: solid 4px #219ebc;
}